* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  transition: all 0.5s;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quizbox {
  transition: all 0.5s;
  margin: 0 20px;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid black;
  border-radius: 20px;
  border-style: dotted;
  box-shadow: 15px 15px 50px grey;
  background-color: rgb(240, 240, 240);
}

@media screen and (max-width: 400px) {
  .quizbox {
    height: 530px;
    width: 400px;
  }
}

.quiz {
  cursor: default;
  padding: 30px 0 0 0;
  font-size: 50px;
  font-family: "Raleway Dots", sans-serif;
  font-weight: bolder;
  font-style: normal;
  filter: drop-shadow(5px 5px 10px black);
}

hr {
  margin: 5px 0 0 0;
  border: 1px solid rgb(61, 61, 61);
  width: 80%;
}

.middle {
  height: 50%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.catSelection {
  height: 100%;
  width: 100%;
}

.category {
  cursor: default;
  font-size: 28px;
  font-family: "Raleway Dots", sans-serif;
  font-weight: 800;
}

.chooseCategory {
  padding: 0 0 0 5px;
  margin: 10px 0 0 0;
  height: 30px;
  width: 180px;
  cursor: pointer;
  font-family: monospace;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}

.button {
  font-size: 16px;
  font-family: monospace;
  font-weight: 500;
  margin: 40px 0 0 0;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
  border: 1.5px solid black;
}

.button:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}

/* quiz.js */
.questions {
  padding: 20px 20px 20px 35px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  cursor: default;
}

.known {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
  font-weight: 400;
  transition: all 1s;
}

.options {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.options button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  height: 40px;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.5s;
}

.leftandright {
  height: auto;
  width: 100%;
  position: relative;
}

.next {
  position: absolute;
  bottom: 25px;
  right: 30px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  height: 40px;
  min-width: 20%;
  max-width: 30%;
  background-color: rgb(255, 117, 117);
  cursor: pointer;
  border-radius: 0 0 10px 0;
  display: none;
}

.home {
  position: absolute;
  bottom: 25px;
  left: 30px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  height: 40px;
  min-width: 20%;
  max-width: 30%;
  background-color: rgb(255, 117, 117);
  cursor: pointer;
  border-radius: 0 0 0 10px;
}

.completed {
  display: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  position: relative;
  bottom: 250px;
  padding: 0 0 0 25px;
}
